body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 800px;
    height: 500px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    gap: 120px;
}

.logo {
    width: 100px;
    height: 150px;
    object-fit: contain;
    margin-left: 20px;
}

h1 {
    font-size: 50px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #585197;
    color: #ffffff;
}

table th:nth-child(5) {
    background-color: #97d17f;
}

.add-button {
    background-color: #5df15f;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 150px;
}

.add-button:hover {
    background-color: #FFC300;
}
