body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../img/Leonardo_Phoenix_Create_an_image_depicting_a_transportation_co_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 900px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.contenido h2 {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 20px;
}

.contenido p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: justify;
}

.menu-botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.menu-botones a {
    flex: 1;
    min-width: 200px;
}

.menu-botones a button {
    width: 100%;
    background-color: #5df15f;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-botones a button:hover {
    background-color: #FFC300;
}

/* Media Queries para diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    .contenido h2 {
        font-size: 1.5rem;
    }

    .menu-botones a {
        min-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.7rem;
    }

    .contenido h2 {
        font-size: 1.3rem;
    }

    .contenido p {
        font-size: 0.9rem;
    }
}